<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>

    {% block extCSS %}

    {% endblock %}


</head>
<body>

{% block header %}

{% endblock %}



{% block content %}

{% endblock %}



{% block footer %}
    <div class="footer">
		<div class="foot_link">
			<a href="#">吾乃宇宙</a>
			<span>|</span>
			<a href="#">超级无敌</a>
			<span>|</span>
			<a href="#">风流帅气</a>
			<span>|</span>
			<a href="#">人见人爱</a>
            <span>|</span>
			<a href="#">灭霸大人</a>
		</div>
		<p>CopyRight © 2018 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-9090980    京ICP备12345678号</p>
	</div>
{% endblock %}



{% block extJS %}

{% endblock %}

</body>
</html>